body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ficha {
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    border: 2px black solid;
    padding-top: 15px;
    margin: 2px;
    box-shadow: 0 10px 20px 0 grey;
    animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1};
}

.ficha:hover{
    background-color: grey !important;
}

.fichaExpandida{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.fichaLink{
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
}

.fichaLink:hover{
    background-color: black;
    color:white;
}

img{
    max-width: 25vw;
    max-height: 25vh;
}


#print {
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    justify-content: center;
    margin: 10px;
}

#printFicha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.buttonMenu{
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#previousButton {
    display: none;
}

#backButton {
    display: none;
}

.nodeGrid{
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,11%);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    justify-content: center;
    margin: 10px;
}

.nodeElement{
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    border: 2px black solid;
    padding-top: 5px;
    margin: 2px;
    animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1};
}

.nodeElement:hover{
    background-color: black;
    color: white;
}